
body {
    background-color: #110115;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #150428;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}